:root {
    --global-backgruond-primary: #041425;
    --global-background-secondary: #082849;
    --global-color-primary: #FFF3EB;
    --cursor-default: url(../images/cursor/default.svg), auto;
    --cursor-pointer: url(../images/cursor/pointer.svg), auto;
}

html {
    cursor: var(--cursor-default);
}

::-webkit-scrollbar {
    width: 10px;
    background-color:#0A345C;
}
::-webkit-scrollbar-thumb {
    background-color: #C8553D;
    border-radius: 5px;
}